{{!-- Items Tab --}}
<div class="tab items" data-group="primary" data-tab="items">
    <div class="flexcol">
          {{!-- Weapons Section --}}
        <div class="items-section">
            <div class="items-header">
                <h3>Waffen</h3>
                <div class="item-controls">
                    <a class="item-control item-create" title="Waffe erstellen" data-itemclass="nahkampfwaffe"><i class="fas fa-plus"></i> Waffe hinzufügen</a>
                </div>
            </div>
            <div class="items-list">
                {{#each actor.nahkampfwaffen as |item id|}}
                {{> "modules/ilaris-alternative-actor-sheet/templates/sheets/item-accordion.hbs" 
                    item=item 
                    rollable=true 
                    rolltype="angriff_diag"
                    nameLabel="Waffenname"
                    stats=(array (concat "AT " item.system.at) (concat "VT " item.system.vt))
                    itemclass="nahkampfwaffe"
                    editTitle="Waffe bearbeiten"
                    deleteTitle="Waffe löschen"
                    details=(array 
                        (hash label="TP" value=item.system.tp)
                        (hash label="RW" value=item.system.rw)
                        (hash label="Eigenschaften" value=(eigenschaften item.system.eigenschaften) isDescription=true)
                    )
                }}
                {{/each}}
            </div>
        </div>

        {{!-- Equipment Section --}}
        <div class="items-section">
            <div class="items-header">
                <h3>Ausrüstung</h3>
                <div class="item-controls">
                    <a class="item-control item-create" title="Gegenstand erstellen" data-type="gegenstand"><i class="fas fa-plus"></i> Gegenstand hinzufügen</a>
                </div>
            </div>
            <div class="items-list">
                {{#each gegenstaende as |item id|}}
                {{> "modules/ilaris-alternative-actor-sheet/templates/sheets/item-accordion.hbs" 
                    item=item 
                    rollable=false
                    itemclass="gegenstand"
                    editTitle="Gegenstand bearbeiten"
                    deleteTitle="Gegenstand löschen"
                    details=(array 
                        (hash label="Gewicht" value=(concat item.system.gewicht " kg"))
                        (hash label="Wert" value=item.system.wert)
                        (hash label="Beschreibung" value=item.system.beschreibung isDescription=true)
                    )
                }}
                {{/each}}
            </div>
        </div>
    </div>
</div>
