{{!-- Items Tab --}}
<div class="tab items" data-group="primary" data-tab="items">
    <div class="flexcol">
        {{!-- Money Management Section --}}
        <div class="items-section">
            <div class="items-header">
                <h3>Geld</h3>
            </div>
            <div class="flexrow">
                <label>Dukaten</label>
                <input
                    name="system.geld.dukaten"
                    value="{{actor.system.geld.dukaten}}"
                    type="text"
                    data-dtype="Number"
                />
                <label>Silbertaler</label>
                <input
                    name="system.geld.silbertaler"
                    value="{{actor.system.geld.silbertaler}}"
                    type="text"
                    data-dtype="Number"
                />
                <label>Heller</label>
                <input
                    name="system.geld.heller"
                    value="{{actor.system.geld.heller}}"
                    type="text"
                    data-dtype="Number"
                />
                <label>Kreuzer</label>
                <input
                    name="system.geld.kreuzer"
                    value="{{actor.system.geld.kreuzer}}"
                    type="text"
                    data-dtype="Number"
                />
                <button class="clickable" data-clicktype="shorten_money">
                    zusammenrechnen
                </button>
            </div>
        </div>

        {{!-- Equipment Section --}}
        <div class="items-section">
            <div class="items-header">
                <h3>Ausrüstung</h3>
                <div class="item-controls">
                    <a class="item-control item-create" title="Gegenstand erstellen" data-itemclass="gegenstand"><i class="fas fa-plus"></i> Gegenstand hinzufügen</a>
                </div>
            </div>
        </div>
        
        {{> "modules/ilaris-alternative-actor-sheet/templates/components/supporting.hbs"}}
        {{> "modules/ilaris-alternative-actor-sheet/templates/components/carrying.hbs"}}
        {{> "modules/ilaris-alternative-actor-sheet/templates/components/handcart.hbs"}}
    </div>
</div>
